<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  
	<h3>Buyer</h3>
	<%= f.fields_for :buyers do |builder| %>
		<%= render 'buyer_fields', :f => builder %>
	<% end %>
	
	<h3>Snacks</h3>
	<%= f.fields_for :snacks do |builder| %>
		<%= render 'snack_fields', :f => builder %>
	<% end %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
