<p>
	<%= f.label :name %>
	<%= f.text_field :name %>	
</p>
<p>
	<%= f.label :price %>
	<%= f.text_field :price %>	
</p>
<p>
	<%= f.label :quantity %>
	<%= f.text_field :quantity %>	
</p>

<p>
	<%= f.check_box :_destroy %>
	<%= f.label :_destroy, "Remove Snack" %>
</p>
================